In [ ]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
import warnings
warnings.filterwarnings("ignore")

# Load data
df = pd.read_csv('/kaggle/input/merged-features-img90/merged_X_feature_img90.csv')
test_df = pd.read_csv('/kaggle/input/merged-features-img90/merged_X_feature_img90_test.csv')
y = pd.read_csv('/kaggle/input/y-classified-train-test/Y.csv')
Y_test = pd.read_csv('/kaggle/input/y-classified-train-test/Y_test.csv')

# Create features and target
X = df
#y = df['class']


# Select K best features
k_features = 1500
k_best_features = SelectKBest(chi2, k = k_features).fit(X, y)
best_features = df[X.columns[k_best_features.get_support()]]
print('Selected top', k_features, 'features: \n', best_features.columns, '\n')




best_features ['class'] = y
best_features.to_csv(r'chi-filter.csv', index = False )

In [ ]:
import pandas as pd
path='/kaggle/input/merged-features-img90/merged_X_feature_img90.csv'
df_total = pd.read_csv(path,nrows=7352)

In [ ]:
df_total.head()

,0,1,2,3,4,5,6,7,8,9,...,5622,5623,5624,5625,5626,5627,5628,5629,5630,5631
0,2686.5190,0.0,2159.4392,6715.6904,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,64.853806,0.0,0.000000,0.0,482.81982,39.383410,202.53952,123.229645
1,1353.2506,0.0,1176.6947,3761.5742,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,7.785688,0.0,114.156910,0.0,162.07323,12.868027,152.31345,67.769270
2,2124.5488,0.0,1701.7424,5732.0610,0.0,0.0,0.0,0.0,0.0,0.0,...,674.266700,47.435616,0.000000,0.0,0.000000,0.0,416.52878,0.000000,0.00000,0.000000
3,1973.7145,0.0,1505.5026,5204.3520,0.0,0.0,0.0,0.0,0.0,0.0,...,12.847692,0.000000,1.318918,0.0,33.620586,0.0,214.29590,0.000000,79.92504,30.132540
4,1280.7573,0.0,1048.9443,3601.7375,0.0,0.0,0.0,0.0,0.0,0.0,...,117.508880,0.000000,0.000000,0.0,559.409060,0.0,235.16537,0.000000,12.40317,142.668660

In [ ]:
for column in df_total.columns:
    if df_total[column].dtype == "float64":
        df_total[column]=pd.to_numeric(df_total[column], downcast="float")
    if df_total[column].dtype == "int64":
        df_total[column]=pd.to_numeric(df_total[column], downcast="integer")

In [ ]:
path='/kaggle/input/y-classified-train-test/Y.csv'
df_y = pd.read_csv(path,nrows=7352)

In [ ]:
df_y.head()

   0
0  1
1  1
2  1
3  1
4  1

In [ ]:
for column in df_y.columns:
    if df_y[column].dtype == "float64":
        df_y[column]=pd.to_numeric(df_y[column], downcast="float")
    if df_y[column].dtype == "int64":
        df_y[column]=pd.to_numeric(df_y[column], downcast="integer")